.searchBar{
    height: 50px;
    width: 470px;
    border-radius: 8px;
    background: #FFFFFF 90%;
    border: 1px solid #D6D6D6;
    ;
}
.inputStyle{
    height: 48px;
    width: 352px;
    border: none;
    outline: none;
    background: #FFFFFF 90%;
}
.buttonStyle{
    height: 50px;
    width: 128px;

}
